/*This resets the default styling from the browser and applies some default styles of our own*/
html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    }

*, *:before, *:after {
    box-sizing: inherit;
    }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    }

ol, ul {
    list-style: none;
    }

img {
    max-width: 100%;
    height: auto;
    }

    /* Default Styles */

    :root{
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --padding-sm: 16px;
        --padding-md: 32px;
        --padding-lg: 64px;
        --padding-xl: 128px;
    }
h1 {
    font-size: 2.5rem;
    font-weight:700;
    }

h2 { 
    font-size:1.9rem;
    font-weight:600;
}

h3{
    font-size:1.5rem;
    font-weight:600;
}

header, main, footer{
    padding:var(--padding-md) var(--padding-lg);
}

section{
    padding: var(--padding-md) 0;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: lavender;
}
.logo{
    max-width:50px;
    stroke:rebeccapurple;
}
nav ul{
    display:flex;
    align-items:center;
    gap:var(--padding-md);
}

nav a{
    text-decoration:none;
    color:rebeccapurple;
    font-weight:600;
}
