/*This resets the default styling from the browser and applies some default styles of our own*/
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    }

*, *:before, *:after {
    box-sizing: inherit;
    }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    }

ol, ul {
    list-style: none;
    }

img {
    max-width: 100%;
    height: auto;
    }

h1 {
    font-size: 2.5rem;
    font-weight:100;
    }


    /* By adding a text stroke on our white text, we can make sure it is always visible regardless of the background colour. */
h2 { 
    font-size:1.9rem;
    font-weight:700;
    margin-bottom:5px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

/* Custom Classes */
    .emphasis{
        color:white;
    }
    .button, button {
        padding: 10px 20px;
        display: inline-block;
        border: 2px solid #fff;
        border-radius: 4px;
        background-color: #fff;
        font-size: 0.8rem;
        text-decoration: none;
        color: #000;
        text-transform:uppercase;
        }
    .button:hover, button:hover{
        background-color: rebeccapurple;
        color:white;
    }


/* Header */
    header {
        min-height: 70px;
        padding:20px 40px;
        }
    nav {
        float: right;
        background-color: #fff;
        margin-top:20px;
        }
    nav a {
        display: inline-block;
        color: #000;
        font-size: 1rem;
        text-decoration: none;
        margin: 0 10px;
        padding: 0.5rem;
        border-radius:4px;
    }
    nav a:hover{
        background-color:rebeccapurple;
        color:white;
    }
    header img {
        height: 60px;
        margin: 10px;
        display: inline-block;
        } 
    .header-text {
        width: 60%;
        }

/* Hero Section */

    .hero {
        height: 50vh;
        padding: 50px;
        background-color: #f48fb1;
        }

/* Columns Section */
    .columns {
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
    }
    .column {
        flex-basis:33%;
        flex-grow:1;
        padding: 40px;
        }
    #column-1 {
        background-color: #f4d03f;
        } 
    #column-2 {
        background-color: #58d68d;
        }
    #column-3 {
        background-color: #5dade2;
        }
    .workshopicon {
        width: 25px;
        margin: 10px;
        }
    .column .button {
        background-color: rebeccapurple;
        margin-top: 10px;
        color:white;
        }
/* Contact Form Section */
    .contact{
        padding:50px;
        text-align:center;
    }
   .field-group, .contact .button{
        width:50%;
        margin:0 auto 10px;
   }

   input, select, textarea{
    background-color:#ddd;
    font-size:1rem;
    padding:0.5rem;
    width:100%;
    border-radius:4px;
   }
   textarea{
    height:300px;
   }
   .contact .button {
    background-color: rebeccapurple;
    color:white;
    }
    label{
        display:block;
        text-align:left;
        margin-bottom:5px;
        color:rebeccapurple;
    }



/* Footer */
    footer{
        background-color:rebeccapurple;
        text-align:center;
        padding:20px;
        color:white;
    }

    /* @media only screen and (min-width: 600px) {
        .columns {
            flex-direction: column;
            width:100%;
        }
        #column-1 {
            background-color: #ff6600;
            } 
      } */





       




/* *{
    border: 1px solid black;
} */

